.desc {
  margin-top: 1rem;
}

.sidebar .widget-sidebar_menu.sep-after:after {
  border-bottom-color: var(--color-accent);
}

.sep-after:after, .sep-before:before {
  border-bottom-color: var(--color-accent);
}

.main-menu+.header-widgets {
  margin-top: 0;
}
